<section class="b-media-list">
  <article class="b-media-list__item">
    <div class="b-media-list__content">
      <h2 class="b-media-list__heading">item heading</h2>
      <p class="b-media-list__excerpt">short description</p>
      <a href="" class="b-media-list__read-more">read more</a>
    </div>
    <div class="b-media-list__media">
      <img src="http://www.indianfunpic.com/wp-content/uploads/2016/06/Funny-Kids-1.jpg" alt="" class="b-media-list__image">
    </div>
  </article>
</section>